.sizeofapp {
    height: 40px;
    margin-right: 8px;
    margin-left:5px;

  }
  body{
    font-family: Arial;
  }
  .btnprops{
      height:40px !important;
      width:90px !important;
      background-color:rgba(0, 225, 255, 0.702);
      margin-left: 40px !important;
      color:black;
      border-style: none !important;

  }
  .inputstyle{
      width:150px;
      border:1px solid grey;
     
      font-size: 20px;
      padding:4px;
      margin-left:400px !important;
      height:30px;

  }
  .borderstyle{
     border-top-color: rgb(248, 248, 248);
     border-top-style: solid;
     font-weight: normal;

  }

  .btnedit{
    margin-left:100px !important;
    width:90px !important;
    background-color:white;
    border:1px solid grey !important;
    height:40px !important;
  
    color:black !important;
  }
  .appname{
      font-weight: bold;
  }
  .sizeoflabel{
      height:35px !important;
      width:50% !important;
      margin-left:250px !important;
  }
  .editapp{
      padding:40px;
  }
  .textspace{
      margin-left: 252px ;
      font-weight: bold;
      opacity: 0.8;
      font-family: Arial;
  }
  .textspace1{
    /* margin-left: 252px ; */
    font-weight: bold;
    /* opacity: 0.8; */
    /* font-family: Arial; */
}
.btnprops1{
background-color:white !important;
border:1px solid grey !important;
margin-left:580px !important;
width:70px !important;
height:40px !important;
color:black !important;
}

  .btnsubmit{
    /* margin-left:500px !important; */
    width:70px !important;
    height:40px !important;
    background-color:rgba(1, 199, 233, 0.862);
    border-style: none !important;
    color:black

    
}
.text-muted{
    opacity: 0.5;
}
.applicationedit-container{
    padding:0px;
    margin: -20px !important;
    padding-top:-10px;
   height:68px;

    background-color:black;
}
.textcolor{
    color:white;
}
.sizeofumg {
    height: 30px;
    margin-left: 18px;
    padding-left:50px;
  }
  .sizeofslash{
 font-size:large

  }
#root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(1) > td:nth-child(7) > a > button:hover{
background-color:white !important;
  }
#root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(2) > td:nth-child(7) > a > button:hover{
    background-color:white !important;
      }
#root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(3) > td:nth-child(7) > a > button:hover{
        background-color:white !important;
          }
#root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(4) > td:nth-child(7) > a > button:hover{
            background-color:white !important;
              }
#root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(5) > td:nth-child(7) > a > button:hover{
                background-color:white !important;
                  }
 #root > div > div.content.container-fluid > div > table > tbody > tr:nth-child(6) > td:nth-child(7) > a > button:hover{
                    background-color:white !important;
                      }
                          



                      #root > div > div.content.container-fluid > div > div > form > div:nth-child(7) > a > button:hover{
                        background-color:white !important;
                      }
