.inputstyle1{
    width:150px;
    border:1px solid grey;
   
    font-size: 20px;
    padding:4px;
    margin-left:190px !important;
    height:30px;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(1) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(2) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(3) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(4) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(5) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(6) > td:nth-child(9) > a > button:hover{
    background-color: white !important;
}

#root > div > div.content.container-fluid > div > div > form > div:nth-child(10) > a > button:hover{
    background-color:white !important;
}