
  
  
  .btncolor {
    background-color: rgba(20, 190, 228, 0.892);
    height: 40px;
    width: 100px;
  }
  .btncolor:hover {
    background-color: rgba(20, 190, 228, 0.892);
  }
  
  .btnproperty {
    background-color: rgb(104, 208, 243);
    color: black;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(221, 202, 202);
    text-decoration: none;
  }
  .btnproperty:hover {
    background-color: rgba(20, 190, 228, 0.892);
   
  }
  
  .spacetobtn {
    margin-right: 10px;
  }
  .spacetobtn1 {
    margin-right: 130px;
  }
  .textsize {
    font-size:20px !important;
    margin-right:-5px;
  }
  .textsize1 {
    font-size:20px !important;
    margin-right:-10px;
  }
  
  .marginspace {
    margin-left: 165px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .spacetobtn{
    margin-left: 200px;
  }
  
  
  
  .margintext{
    
    margin-left:245px !important;
   background-color:rgba(20, 190, 228, 0.892);
    width:70px !important;
    border-style: none;
    height:40px !important;
    color:black;
  }
  .margintextshopify{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:230px !important;
    height:40px !important;
    color:black;
    border-style: none;
    width:70px !important;
  }
  .margintext1{
    margin-left:299px !important;
    width:70px !important;
    height:40px !important;
    background-color:white;
    border:1px solid rgb(141, 139, 139) !important;
    color:black !important;
    padding:5px;
  }
  .margintext1:hover{
    background-color:white !important;
  }
  .margintext2{
    margin-left:345px !important;
    width:70px !important;
    background-color:white;
    border:1px solid grey !important;
    height:40px !important;
  
    color:black !important;
  }
  .margintext2:hover{
    background-color:white !important;
  }
  .authentext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:130px !important;
    height:40px !important;
    width:70px !important;
    border-style: none;
    color:black;
    
  }
  .providertext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:273px !important;
    height:40px !important;
    color:black;
    width:70px !important;
    border-style: none;
  
  }
  
  .sizeoflo {
    height: 40px;
    margin-right: 8px;
    margin-left:5px;
  }
  .margintext3{
    background-color:white;
    border:1px solid grey !important;
    margin-left:210px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  .margintext3:hover{
    background-color:white !important;
  }
  .margintext4{
    background-color:white;
    border:1px solid grey !important;
    margin-left:320px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  .margintext4:hover{
    background-color:white !important;
  }











  .dashboard-bg {
    background-color: #fff;
  }
  
  .main-dashboard1 {
    color: #fff;
    padding-left: 50px;
    /* padding-right: 50px; */
    color:black;
    /* padding-top:-60px !important; */
    margin:-10px;
    /* padding-bottom: -50px !important; */
    padding-top:2px;
  }
  h2{
    font-weight:200;
  }
  
  .main-dashboard {
    color: #fff;
    padding-left: 50px;
    /* padding-right: 50px; */
    color:black;
    /* padding-top:-60px !important; */
    margin:-10px;
  }
  .header1 {
    display: block;
  }
  .column {
    float: left;
  
    width: 50%;
    padding: 11px;
  }
  
  .btncolor {
    background-color: rgba(20, 190, 228, 0.892);
    height: 40px;
    width: 100px;
  }
  .btncolor:hover {
    background-color: rgba(20, 190, 228, 0.892);
  }
  
  .btnproperty {
    background-color: rgb(104, 208, 243);
    color: black;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(221, 202, 202);
    text-decoration: none;
  }
  .btnproperty:hover {
    background-color: rgba(20, 190, 228, 0.892);
   
  }
  
  .spacetobtn {
    margin-right: 10px;
  }
  .spacetobtn1 {
    margin-right: 130px;
  }
  .textsize {
    font-size:20px !important
  }
  
  .marginspace {
    margin-left: 165px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .spacetobtn{
    margin-left: 200px;
  }
  
  
  
  .margintext{
    
    margin-left:245px !important;
   background-color:rgba(20, 190, 228, 0.892);
    width:70px !important;
    border-style: none;
    height:40px !important;
    color:black;
  }
  .margintextshopify{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:230px !important;
    height:40px !important;
    color:black;
    border-style: none;
    width:70px !important;
  }
  .margintext1{
    margin-left:299px !important;
    width:70px !important;
    height:40px !important;
    background-color:white;
    border:1px solid rgb(141, 139, 139) !important;
    color:black !important;
    padding:5px;
  }
  .margintext1:hover{
    background-color:white !important;
  }
  .margintext2{
    margin-left:345px !important;
    width:70px !important;
    background-color:white;
    border:1px solid grey !important;
    height:40px !important;
  
    color:black !important;
  }
  /* .margintext2:hover{
    background-color:white !important;
  } */
  .authentext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:130px !important;
    height:40px !important;
    width:70px !important;
    border-style: none;
    color:black;
    
  }
  .providertext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:273px !important;
    height:40px !important;
    color:black;
    width:70px !important;
    border-style: none;
  
  }
  
  .sizeoflo {
    height: 30px !important;
    margin-right: 8px;
    margin-left:5px;
  }
  .margintext3{
    background-color:white;
    border:1px solid grey !important;
    margin-left:210px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  /* .margintext3:hover{
    background-color:white !important;
  } */
  .margintext4{
    background-color:white;
    border:1px solid grey !important;
    margin-left:320px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  .margintext4:hover{
    background-color:white !important;
  }





  .header1 {
    display: block;
  }
  .column {
    float: left;
  
    width: 50%;
    padding: 11px;
  }
  Button {
    height: 50px !important;
    width: 190px !important;
    color: rgb(3, 3, 3);
    
    background-color: rgb(10, 10, 10);
  
  }
  
  .btncolor {
    background-color: rgba(20, 190, 228, 0.892);
    height: 40px;
    width: 100px;
  }
  
  .btnproperty {
    background-color: rgba(104, 208, 243, 0.751);
    color: black;
    width: 80px !important;
    height: 100px;
  
    border: 1px solid rgb(221, 202, 202);
    text-decoration: none;
  }
 
  



/* 
  variant="info"
  href="/applications/viewall"
  style={{ backgroundcolor: "#66D6FF", "margin-left": "200px" }} */
  
  .spacetobtn {
    margin-right: 10px;
  }
  .spacetobtn1 {
    margin-right: 130px;
  }
  .textsize {
    font-size:20px !important
  }
  
  .marginspace {
    margin-left: 165px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .spacetobtn{
    margin-left: 200px;
  }
  
  
  
  .margintext{
    
    margin-left:245px !important;
   background-color:rgba(20, 190, 228, 0.892);
    width:70px !important;
    border-style: none;
    height:40px !important;
    color:black;
  }
  .margintextshopify{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:230px !important;
    height:40px !important;
    color:black;
    border-style: none;
    width:70px !important;
  }
  .margintext1{
    margin-left:299px !important;
    width:70px !important;
    height:40px !important;
    background-color:white;
    border:1px solid rgb(141, 139, 139) !important;
    color:black !important;
    padding:5px;
  }
  /* .margintext1:hover{
    background-color:white !important;
  } */
  .margintext2{
    margin-left:345px !important;
    width:70px !important;
    background-color:white;
    border:1px solid grey !important;
    height:40px !important;
  
    color:black !important;
  }
  /* .margintext2:hover{
    background-color:white !important;
  } */
  .authentext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:130px !important;
    height:40px !important;
    width:70px !important;
    border-style: none;
    color:black;
    
  }
  .providertext{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:273px !important;
    height:40px !important;
    color:black;
    width:70px !important;
    border-style: none;
  
  }
  
  .sizeoflo {
    height: 40px;
    margin-right: 8px;
    margin-left:5px;
  }
  .margintext3{
    background-color:white;
    border:1px solid grey !important;
    margin-left:210px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  /* .margintext3:hover{
    background-color:white !important;
  } */
  .margintext4{
    background-color:white;
    border:1px solid grey !important;
    margin-left:320px !important;
    width:70px !important;
    height:40px !important;
    color:black !important;
  }
  /* .margintext4:hover{
    background-color:white !important;
  } */


  
  .header1 {
    display: block;
  }
  .column {
    float: left;
  
    width: 50%;
    padding: 11px;
  }
  Button {
    height: 50px !important;
    width: 190px !important;
    color: black;
    background-color: rgb(10, 10, 10);
  
  }
  
  .btncolor {
    background-color: rgba(20, 190, 228, 0.892);
    height: 40px;
    width: 100px;
  }
  .btncolor:hover {
    background-color: rgba(20, 190, 228, 0.892);
  }
  

  .spacetobtn {
    margin-right: 10px;
  }
  .spacetobtn1 {
    margin-right: 130px;
  }
  .textsize {
    font-size:20px !important
  }
  
  .marginspace {
    margin-left: 165px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .spacetobtn{
    margin-left: 200px;
  }
  
  
  
  .margintext{
    
    margin-left:245px !important;
    width:70px !important;
    border-style: none;
    height:40px !important;
    color:black;
  }
  .margintextshopify{
    background-color:rgba(20, 190, 228, 0.892);
    margin-left:230px !important;
    height:40px !important;
    color:black;
    border-style: none;
    width:70px !important;
  }
  .margintext1{
    margin-left:299px !important;
    width:70px !important;
    height:40px !important;
    background-color:white;
    border:2px solid rgb(185, 181, 181) !important;
    color:black !important;
    padding:5px;
  }
 
  .margintext2{
    margin-left:310px !important;
    width:80px !important;
    background-color:white;
    border:2px solid rgb(185, 181, 181) !important;
    height:30px !important;
  
    color:black !important;
  }
 
  .authentext{

    margin-left:155px !important;
    height:30px !important;
    width:80px !important;
    
    color:black;
    border:2px solid rgb(185, 181, 181) !important;
    background-color:white !important;
    
  }
  .authentext:hover{
    color:black !important;
  }
  .providertext{
   
    margin-left:290px !important;
    height:30px !important;
    width:80px !important;
    
    color:black;
    border:2px solid rgb(185, 181, 181) !important;
    background-color:white !important;
    
  
  }
  
  .providertext:hover{
    color:black !important;
  }
  .sizeoflo {
    height: 40px;
    margin-right: 8px;
    margin-left:5px;
  }
  .margintext3{
    background-color:white;
    border:2px solid rgb(185, 181, 181) !important;
    margin-left:240px !important;
    width:80px !important;
    height:30px !important;
    color:black !important;
  }
 
  .margintext4{
    /* background-color:white !important; */
    border:2px solid rgb(185, 181, 181) !important;
    margin-left:320px !important;
    width:70px !important;
    height:30px !important;
    color:black !important;
  }
  .margintext4:hover{
    background-color:white !important;
  }






  .viewall{
    background-color: #66D6FF !important;
    color:black;
    border-style: none !important;
    width: 80px !important;
    height: 30px !important;
    margin-left:198px !important;
 
    text-decoration: none;
  }
  .viewallauthen{

      background-color: #66D6FF !important;
      color:black;
      border-style: none !important;
      width: 80px !important;
      height: 30px !important;
      margin-left:85px !important;
   
      text-decoration: none;
    
  }
  .viewallprovider{
    background-color: #66D6FF !important;
    color:black;
    border-style: none !important;
    width: 80px !important;
    height: 30px !important;
    margin-left:243px !important;
 
    text-decoration: none;
  }

  #root > div > div.content.container-fluid > div > div > div.row.row-cols-lg-8.row-cols-md-2.row-cols-2 > div:nth-child(1) > a > button:hover{
    color:black;
  }
  #root > div > div.content.container-fluid > div > div > div.row.row-cols-lg-8.row-cols-md-2.row-cols-2 > div:nth-child(2) > a > button:hover{
    color:black;
  }
  #root > div > div.content.container-fluid > div > div > div:nth-child(5) > div:nth-child(1) > a > button:hover{
    color:black;
  }
  #root > div > div.content.container-fluid > div > div > div:nth-child(5) > div:nth-child(2) > a > button:hover{
    color:black;
  }