.dashboard-bg {
  background-color: #fff;
}

.main-dashboard  {
  color: #fff;
  padding-left: 50px;
  /* padding-right: 50px; */
  color:black;
  /* padding-top:-60px !important; */
  margin:-10px;
}
.header1 {
  display: block;
}
.column {
  float: left;

  width: 50%;
  padding: 11px;
}
Button {
  height: 50px !important;
  width: 190px !important;
  color: white;
  
  background-color: rgb(10, 10, 10);

}

.btncolor {
  background-color: rgba(20, 190, 228, 0.892);
  height: 40px;
  width: 100px;
}
.btncolor:hover {
  background-color: rgba(20, 190, 228, 0.892);
}

.btnproperty {
  background-color: rgb(104, 208, 243);
  color: black;
  width: 100px;
  height: 40px;
  border: 1px solid rgb(221, 202, 202);
  text-decoration: none;
}
.btnproperty:hover {
  background-color: rgba(20, 190, 228, 0.892);
 
}

.spacetobtn {
  margin-right: 10px;
}
.spacetobtn1 {
  margin-right: 130px;
}
.textsize {
  font-size:20px !important
}

.marginspace {
  margin-left: 165px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.spacetobtn{
  margin-left: 200px;
}



.margintext{
  
  margin-left:245px !important;
 background-color:rgba(20, 190, 228, 0.892);
  width:70px !important;
  border-style: none;
  height:40px !important;
  color:black;
}
.margintextshopify{
  background-color:rgba(20, 190, 228, 0.892);
  margin-left:230px !important;
  height:40px !important;
  color:black;
  border-style: none;
  width:70px !important;
}
.margintext1{
  margin-left:299px !important;
  width:70px !important;
  height:40px !important;
  background-color:white;
  border:1px solid rgb(141, 139, 139) !important;
  color:black !important;
  padding:5px;
}

.margintext2{
  margin-left:345px !important;
  width:70px !important;
  background-color:white;
  border:1px solid grey !important;
  height:40px !important;

  color:black !important;
}
.authentext{
  background-color:rgba(20, 190, 228, 0.892);
  margin-left:135px !important;
  height:40px !important;
  width:70px !important;
  border-style: none;
  color:black;
  
}
.providertext{
  background-color:rgba(20, 190, 228, 0.892);
  margin-left:273px !important;
  height:40px !important;
  color:black;
  width:70px !important;
  border-style: none;

}
.sizeoflo {
  height: 40px;
  margin-right: 8px;
  margin-left:5px;
}
.margintext3{
  background-color:white;
  border:1px solid grey !important;
  margin-left:210px !important;
  width:70px !important;
  height:40px !important;
  color:black !important;
}
.margintext4{
  background-color:white;
  border:1px solid grey !important;
  margin-left:320px !important;
  width:70px !important;
  height:40px !important;
  color:black !important;
}


#root > div > div.content.container-fluid > div > div > div:nth-child(2) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > div:nth-child(3) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > div:nth-child(4) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}

#root > div > div.content.container-fluid > div > div > div:nth-child(2) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}

#root > div > div.content.container-fluid > div > div > div:nth-child(3) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}
#root > div > div.content.container-fluid > div > div > div:nth-child(4) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}


#root > div > div.content.container-fluid > div > div > div:nth-child(6) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}


#root > div > div.content.container-fluid > div > div > div:nth-child(7) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}

#root > div > div.content.container-fluid > div > div > div:nth-child(8) > div:nth-child(1) > a:nth-child(2) > button:hover{
  background-color: white !important;
}




#root > div > div.content.container-fluid > div > div > div:nth-child(6) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}



#root > div > div.content.container-fluid > div > div > div:nth-child(7) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}

#root > div > div.content.container-fluid > div > div > div:nth-child(8) > div:nth-child(2) > a:nth-child(2) > button:hover{
  background-color: white !important;
}