.inputstyle2{
    width:150px;
    border:1px solid grey;
   
    font-size: 20px;
    padding:4px;
    margin-left:480px !important;
    height:30px;

}

.borderstyle{
  
    opacity:0.5;
 }
.nameproperty{
    padding:10px;
}
#root > div > div.content.container-fluid > div > div > table > thead > tr > th.nameproperty{
    padding-right:140px;
}


.width{
    width:250px;
}
#root > div > div.content.container-fluid > div > form > div:nth-child(4) > a > button:hover{
    background-color:white !important;
}
.label-container{
    margin-left: 250px;
}
.btnmargin{
    margin-left: -47px !important;
}
.btnedit{
    background-color: white !important;
}