.inputstyle4{
    width:150px;
    border:1px solid grey;
   
    font-size: 20px;
    padding:4px;
    margin-left:420px !important;
    height:30px;
}
.borderstyle{
  
   opacity:0.5;
}
#root > div > div.content.container-fluid > div > div > table > thead > tr > th.nameproperty{
    padding-right:140px;
}



#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(1) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(2) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(3) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(4) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(5) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}
#root > div > div.content.container-fluid > div > div > table > tbody > tr:nth-child(6) > td:nth-child(4) > a > button:hover{
    background-color:white !important;
}