.inputstyle4{
    width:150px;
    border:1px solid grey;
   
    font-size: 20px;
    padding:4px;
    margin-left:420px !important;
    height:30px;
}
.borderstyle{
  
   opacity:0.5;
}
#root > div > div.content.container-fluid > div > div > table > thead > tr > th.nameproperty{
    padding-right:140px;
}